@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #0F0E0E;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 1fr max-content 2fr;
    justify-items: center;
    align-items: center;
}

.title{
    color: #00a700;
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5rem;
}

.side-left,.side-right,.side-bottom{
    border: 0.20rem dashed #00a700;
}

.side-left{
    grid-row: 1/4;
    grid-column: 1/2;
    width: 80%;
    height: 90%;
}

.side-right{
    grid-row: 1/4;
    grid-column: 3/4;
    width: 80%;
    height: 90%;
}

.side-bottom{
    grid-row: 3/4;
    grid-column: 2/3;
    width: 99%;
    height: 10.5rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 0.25rem;
}

.prev-commands{
    width: 98%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    overflow: hidden;
}

.prev-comm{
    color: white;
    font-size: 1.5rem;
    font-family: 'VT323', monospace;
    letter-spacing: 0.15rem;
}

form{
    width: 99%;
}

#command-line{
    width: 85%;
    border: none;
    background-color: #0F0E0E;
    color: white;
    font-size: 1.50rem;
    font-family: 'VT323', monospace;
    letter-spacing: 0.15rem;
}

#btnClear{
    font-size: 1.5rem;
    font-family: 'VT323', monospace;
    letter-spacing: 0.15rem;
    background-color: #0F0E0E;
    color: white;
    border: none;
}

.command-pre{
    color: white;
    font-size: 1.5rem;
    font-family: 'VT323', monospace;
    letter-spacing: 0.15rem;
}

#command-line:focus{
    outline: none;
}

.cls-1, .cls-2 {
    fill: #454545;
}

.cls-2 {
    fill-rule: evenodd;
}

svg{
    grid-row: 2/3;
    grid-column: 2/3;
    width: 50rem;
    height: 30rem;
    padding: 2rem 5rem;
    border: 0.20rem dashed #00a700;
}

#C01:hover,#C02:hover,#C03:hover,#C04:hover,#C05:hover,#C06:hover{
    stroke: #00a700;
    fill: #00a700;
}